# Introducción

## Librerias que utilizamos para la demo: DataFrames.jl y TimeSeries.jl

In [1]:
] add TimeSeries # correr solo 1 vez

  Updating registry at `C:\Users\marce\.julia\registries\General`
  Updating git-repo `https://github.com/JuliaRegistries/General.git`
Fetching: [========================================>]  100.0 %.0 %>                                  ]  13.3 %Fetching: [===========>                             ]  27.3 %Fetching: [=========================>               ]  61.7 %79.7 % [=======================================> ]  96.1 % Resolving package versions...
 Installed BinaryProvider ─── v0.5.7
 Installed TimeSeries ─────── v0.16.0
 Installed MathOptInterface ─ v0.9.6
  Updating `C:\Users\marce\.julia\environments\v1.2\Project.toml`
  [9e3dc215] + TimeSeries v0.16.0
  Updating `C:\Users\marce\.julia\environments\v1.2\Manifest.toml`
  [b99e7846] ↑ BinaryProvider v0.5.6 ⇒ v0.5.7
  [b8f27783] ↑ MathOptInterface v0.9.5 ⇒ v0.9.6
  [9e3dc215] + TimeSeries v0.16.0

In [2]:
] add DataFrames # correr solo 1 vez

 Resolving package versions...
 Installed DataFrames ─ v0.19.4
  Updating `C:\Users\marce\.julia\environments\v1.2\Project.toml`
  [a93c6f00] + DataFrames v0.19.4
  Updating `C:\Users\marce\.julia\environments\v1.2\Manifest.toml`
  [a93c6f00] + DataFrames v0.19.4

In [3]:
using DataFrames

┌ Info: Precompiling DataFrames [a93c6f00-e57d-5684-b7b6-d8193f3e46c0]
└ @ Base loading.jl:1242

In [ ]:
using TimeSeries

In [19]:
] add CSV

  Updating registry at `C:\Users\marce\.julia\registries\General`
  Updating git-repo `https://github.com/JuliaRegistries/General.git`
 Resolving package versions...
 Installed WeakRefStrings ─ v0.6.1
 Installed FilePathsBase ── v0.6.2
 Installed LazyArrays ───── v0.12.3
 Installed Interpolations ─ v0.12.3
 Installed CSV ──────────── v0.5.14
  Updating `C:\Users\marce\.julia\environments\v1.2\Project.toml`
  [336ed68f] + CSV v0.5.14
  [b4f0291d] ↑ LazySets v1.21.0 [`C:\Users\marce\.julia\dev\LazySets`] ⇒ v1.22.0 [`C:\Users\marce\.julia\dev\LazySets`]
  Updating `C:\Users\marce\.julia\environments\v1.2\Manifest.toml`
  [336ed68f] + CSV v0.5.14
  [48062228] + FilePathsBase v0.6.2
  [a98d9a8b] ↑ Interpolations v0.12.2 ⇒ v0.12.3
  [5078a376] + LazyArrays v0.12.3
  [b4f0291d] ↑ LazySets v1.21.0 [`C:\Users\marce\.julia\dev\LazySets`] ⇒ v1.22.0 [`C:\Users\marce\.julia\dev\LazySets`]
  [69de0a69] + Parsers v0.3.7
  [ea10d353] + WeakRefStrings v0.6.1

## Referencias

- Documentacion de DataFrames.jl: https://juliadata.github.io/DataFrames.jl/stable/
- Video de introduccion a DataFrames en Julia: https://www.youtube.com/watch?v=0-Xsts_s5Wc

# Creacion de un DataFrame a partir de Julia arrays

In [116]:
using DataFrames, CSV

In [117]:
df = DataFrame(id_estudiante = 1:4, nota = ["79", "46", "64", "88"])

4×2 DataFrame
│ Row │ id_estudiante │ nota   │
│     │ Int64         │ String │
├─────┼───────────────┼────────┤
│ 1   │ 1             │ 79     │
│ 2   │ 2             │ 46     │
│ 3   │ 3             │ 64     │
│ 4   │ 4             │ 88     │

In [26]:
first(df)

DataFrameRow
│ Row │ id_estudiante │ nota   │
│     │ Int64         │ String │
├─────┼───────────────┼────────┤
│ 1   │ 1             │ 79     │

In [27]:
first(df, 2)

2×2 DataFrame
│ Row │ id_estudiante │ nota   │
│     │ Int64         │ String │
├─────┼───────────────┼────────┤
│ 1   │ 1             │ 79     │
│ 2   │ 2             │ 46     │

In [119]:
last(df, 2)

2×2 DataFrame
│ Row │ id_estudiante │ nota   │
│     │ Int64         │ String │
├─────┼───────────────┼────────┤
│ 1   │ 3             │ 64     │
│ 2   │ 4             │ 88     │

# Indexacion vectorial

In [120]:
fieldnames(typeof(df))

(:columns, :colindex)

In [121]:
# acceso a las columnas por referencia ( = sin copiar)

In [122]:
getfield(df, :columns)

2-element Array{AbstractArray{T,1} where T,1}:
 [1, 2, 3, 4]
 ["79", "46", "64", "88"]

In [43]:
getfield(df, :colindex)

DataFrames.Index(Dict(:id_estudiante => 1,:nota => 2), Symbol[:id_estudiante, :nota])

In [45]:
# para obtener los nombres de las columnas utilizamos names(df)
names(df) # notar que los nombres de las columnas son simbolos, no cadenas de caracteres

2-element Array{Symbol,1}:
 :id_estudiante
 :nota

In [127]:
s = :(x + y^2)

:(x + y ^ 2)

In [128]:
dump(s)

Expr
  head: Symbol call
  args: Array{Any}((3,))
    1: Symbol +
    2: Symbol x
    3: Expr
      head: Symbol call
      args: Array{Any}((3,))
        1: Symbol ^
        2: Symbol y
        3: Int64 2

In [51]:
df[:id_estudiante] # aparece un deprecation warning...

┌ Warning: `getindex(df::DataFrame, col_ind::ColumnIndex)` is deprecated, use `df[!, col_ind]` instead.
│   caller = top-level scope at In[51]:1
└ @ Core In[51]:1

4-element Array{Int64,1}:
 1
 2
 3
 4

In [131]:
# sugiere usar
z = df[!, :id_estudiante]

4-element Array{Int64,1}:
 1
 2
 3
 4

In [132]:
pointer(z)

Ptr{Int64} @0x0000000037fa8590

In [133]:
u = df[:, :id_estudiante] # la notacion con ":" funciona tambien

4-element Array{Int64,1}:
 1
 2
 3
 4

In [135]:
u = 2u

4-element Array{Int64,1}:
 2
 4
 6
 8

In [136]:
df

4×2 DataFrame
│ Row │ id_estudiante │ nota   │
│     │ Int64         │ String │
├─────┼───────────────┼────────┤
│ 1   │ 1             │ 79     │
│ 2   │ 2             │ 46     │
│ 3   │ 3             │ 64     │
│ 4   │ 4             │ 88     │

In [137]:
z = 2z

4-element Array{Int64,1}:
 2
 4
 6
 8

In [138]:
df

4×2 DataFrame
│ Row │ id_estudiante │ nota   │
│     │ Int64         │ String │
├─────┼───────────────┼────────┤
│ 1   │ 1             │ 79     │
│ 2   │ 2             │ 46     │
│ 3   │ 3             │ 64     │
│ 4   │ 4             │ 88     │

In [149]:
z = df[!, :id_estudiante]

4-element Array{Int64,1}:
 1
 2
 3
 4

In [150]:
pointer(df[!, :id_estudiante])

Ptr{Int64} @0x0000000037fa8590

In [151]:
pointer(z)

Ptr{Int64} @0x0000000037fa8590

In [156]:
u = df[:, :id_estudiante]
pointer(df[:, :id_estudiante])

Ptr{Int64} @0x00000000109f5240

In [157]:
pointer(u)

Ptr{Int64} @0x00000000109ef070

In [173]:
A = rand(3, 3)

3×3 Array{Float64,2}:
 0.196758  0.414487  0.811118
 0.894995  0.3333    0.490153
 0.912906  0.708423  0.660211

In [174]:
c = A[:, 1]

3-element Array{Float64,1}:
 0.19675753326259549
 0.8949952315891265
 0.912906315422183

In [175]:
c[1, 1] = 100

100

In [177]:
view(A, :, 1)

3-element view(::Array{Float64,2}, :, 1) with eltype Float64:
 0.19675753326259549
 0.8949952315891265
 0.912906315422183

In [142]:
df[:, :id_estudiante] === df[:, :id_estudiante]

false

In [143]:
df[!, :id_estudiante] === df[!, :id_estudiante]

true

In [ ]:
# tambien puedo acceder a los elementos por referencia accediendo al nombre df.[col_name]

In [178]:
df.id_estudiante # tambien accedo por referencia

4-element Array{Int64,1}:
 1
 2
 3
 4

In [179]:
df.nota # tambien accedo por referencia

4-element Array{String,1}:
 "79"
 "46"
 "64"
 "88"

In [180]:
df.nota[1] = "70"

"70"

In [181]:
df # notese que actualice la primera entrada

4×2 DataFrame
│ Row │ id_estudiante │ nota   │
│     │ Int64         │ String │
├─────┼───────────────┼────────┤
│ 1   │ 1             │ 70     │
│ 2   │ 2             │ 46     │
│ 3   │ 3             │ 64     │
│ 4   │ 4             │ 88     │

In [182]:
# en Julia, se usa el simbolo === para identificar el mismo objeto (por referencia), mientras que == compara el valor
df.nota === df[!, :nota]

true

In [184]:
# con : genera una copia
df[!, :nota] === df[:, :nota]

false

In [185]:
# generar un data frame vacio
x = DataFrame()

0×0 DataFrame

In [186]:
x.nombre = ["Marcelo", "Santiago", "Emilia"]

3-element Array{String,1}:
 "Marcelo"
 "Santiago"
 "Emilia"

In [187]:
x

3×1 DataFrame
│ Row │ nombre   │
│     │ String   │
├─────┼──────────┤
│ 1   │ Marcelo  │
│ 2   │ Santiago │
│ 3   │ Emilia   │

In [188]:
x.edad = [31, 34, 26]

3-element Array{Int64,1}:
 31
 34
 26

In [189]:
x

3×2 DataFrame
│ Row │ nombre   │ edad  │
│     │ String   │ Int64 │
├─────┼──────────┼───────┤
│ 1   │ Marcelo  │ 31    │
│ 2   │ Santiago │ 34    │
│ 3   │ Emilia   │ 26    │

In [190]:
# para chequear la cantidad de filas y de columnas usamos la funcion size
size(x)

(3, 2)

In [68]:
# haciendo un data frame fila por fila

In [191]:
df = DataFrame(nombre = String[], edad = Int[])

0×2 DataFrame

In [192]:
push!(df, ("Marcos", 30))

1×2 DataFrame
│ Row │ nombre │ edad  │
│     │ String │ Int64 │
├─────┼────────┼───────┤
│ 1   │ Marcos │ 30    │

In [193]:
push!(df, ("Silvana", 35))

2×2 DataFrame
│ Row │ nombre  │ edad  │
│     │ String  │ Int64 │
├─────┼─────────┼───────┤
│ 1   │ Marcos  │ 30    │
│ 2   │ Silvana │ 35    │

In [194]:
df

2×2 DataFrame
│ Row │ nombre  │ edad  │
│     │ String  │ Int64 │
├─────┼─────────┼───────┤
│ 1   │ Marcos  │ 30    │
│ 2   │ Silvana │ 35    │

In [195]:
# tambien puedo agregar una fila nueva usando un diccionario
push!(df, Dict(:nombre => "Alejandro", :edad => 34))

3×2 DataFrame
│ Row │ nombre    │ edad  │
│     │ String    │ Int64 │
├─────┼───────────┼───────┤
│ 1   │ Marcos    │ 30    │
│ 2   │ Silvana   │ 35    │
│ 3   │ Alejandro │ 34    │

In [76]:
df

3×2 DataFrame
│ Row │ nombre    │ edad  │
│     │ String    │ Int64 │
├─────┼───────────┼───────┤
│ 1   │ Marcos    │ 30    │
│ 2   │ Silvana   │ 35    │
│ 3   │ Alejandro │ 34    │

Comentario: construir un data frame fila por fila es mas ineficiente respecto a construirlo columna por columna.

# Cargando datos de un archivo

In [196]:
using DataFrames, CSV

In [199]:
autos = CSV.read("automobile_data.csv")

61×9 DataFrame. Omitted printing of 4 columns
│ Row │ company     │ body_style  │ wheel_base │ length  │ engine_type │
│     │ String      │ String      │ Float64    │ Float64 │ String      │
├─────┼─────────────┼─────────────┼────────────┼─────────┼─────────────┤
│ 1   │ alfa-romero │ convertible │ 88.6       │ 168.8   │ dohc        │
│ 2   │ alfa-romero │ convertible │ 88.6       │ 168.8   │ dohc        │
│ 3   │ alfa-romero │ hatchback   │ 94.5       │ 171.2   │ ohcv        │
│ 4   │ audi        │ sedan       │ 99.8       │ 176.6   │ ohc         │
│ 5   │ audi        │ sedan       │ 99.4       │ 176.6   │ ohc         │
│ 6   │ audi        │ sedan       │ 99.8       │ 177.3   │ ohc         │
│ 7   │ audi        │ wagon       │ 105.8      │ 192.7   │ ohc         │
│ 8   │ bmw         │ sedan       │ 101.2      │ 176.8   │ ohc         │
│ 9   │ bmw         │ sedan       │ 101.2      │ 176.8   │ ohc         │
│ 10  │ bmw         │ sedan       │ 101.2      │ 176.8   │ ohc         │
⋮
│ 51  │ toyota      │ hatchback   │ 95.7       │ 158.7   │ ohc         │
│ 52  │ toyota      │ wagon       │ 95.7       │ 169.7   │ ohc         │
│ 53  │ toyota      │ wagon       │ 95.7       │ 169.7   │ ohc         │
│ 54  │ toyota      │ wagon       │ 95.7       │ 169.7   │ ohc         │
│ 55  │ toyota      │ wagon       │ 104.5      │ 187.8   │ dohc        │
│ 56  │ volkswagen  │ sedan       │ 97.3       │ 171.7   │ ohc         │
│ 57  │ volkswagen  │ sedan       │ 97.3       │ 171.7   │ ohc         │
│ 58  │ volkswagen  │ sedan       │ 97.3       │ 171.7   │ ohc         │
│ 59  │ volkswagen  │ sedan       │ 97.3       │ 171.7   │ ohc         │
│ 60  │ volvo       │ sedan       │ 104.3      │ 188.8   │ ohc         │
│ 61  │ volvo       │ wagon       │ 104.3      │ 188.8   │ ohc         │

In [ ]:
# por defecto, DataFrames muestra una cantidad de elementos que entra ne la plantalla
# lo puedo cambiar de usando show

In [203]:
show(autos, allrows=true, allcols=true)

61×9 DataFrame
│ Row │ company       │ body_style  │ wheel_base │ length  │ engine_type │
│     │ String        │ String      │ Float64    │ Float64 │ String      │
├─────┼───────────────┼─────────────┼────────────┼─────────┼─────────────┤
│ 1   │ alfa-romero   │ convertible │ 88.6       │ 168.8   │ dohc        │
│ 2   │ alfa-romero   │ convertible │ 88.6       │ 168.8   │ dohc        │
│ 3   │ alfa-romero   │ hatchback   │ 94.5       │ 171.2   │ ohcv        │
│ 4   │ audi          │ sedan       │ 99.8       │ 176.6   │ ohc         │
│ 5   │ audi          │ sedan       │ 99.4       │ 176.6   │ ohc         │
│ 6   │ audi          │ sedan       │ 99.8       │ 177.3   │ ohc         │
│ 7   │ audi          │ wagon       │ 105.8      │ 192.7   │ ohc         │
│ 8   │ bmw           │ sedan       │ 101.2      │ 176.8   │ ohc         │
│ 9   │ bmw           │ sedan       │ 101.2      │ 176.8   │ ohc         │
│ 10  │ bmw           │ sedan       │ 101.2      │ 176.8   │ ohc         │
│ 11  │ bmw           │ sedan       │ 103.5      │ 189.0   │ ohc         │
│ 12  │ bmw           │ sedan       │ 103.5      │ 193.8   │ ohc         │
│ 13  │ bmw           │ sedan       │ 110.0      │ 197.0   │ ohc         │
│ 14  │ chevrolet     │ hatchback   │ 88.4       │ 141.1   │ l           │
│ 15  │ chevrolet     │ hatchback   │ 94.5       │ 155.9   │ ohc         │
│ 16  │ chevrolet     │ sedan       │ 94.5       │ 158.8   │ ohc         │
│ 17  │ dodge         │ hatchback   │ 93.7       │ 157.3   │ ohc         │
│ 18  │ dodge         │ hatchback   │ 93.7       │ 157.3   │ ohc         │
│ 19  │ honda         │ wagon       │ 96.5       │ 157.1   │ ohc         │
│ 20  │ honda         │ sedan       │ 96.5       │ 175.4   │ ohc         │
│ 21  │ honda         │ sedan       │ 96.5       │ 169.1   │ ohc         │
│ 22  │ isuzu         │ sedan       │ 94.3       │ 170.7   │ ohc         │
│ 23  │ isuzu         │ sedan       │ 94.5       │ 155.9   │ ohc         │
│ 24  │ isuzu         │ sedan       │ 94.5       │ 155.9   │ ohc         │
│ 25  │ jaguar        │ sedan       │ 113.0      │ 199.6   │ dohc        │
│ 26  │ jaguar        │ sedan       │ 113.0      │ 199.6   │ dohc        │
│ 27  │ jaguar        │ sedan       │ 102.0      │ 191.7   │ ohcv        │
│ 28  │ mazda         │ hatchback   │ 93.1       │ 159.1   │ ohc         │
│ 29  │ mazda         │ hatchback   │ 93.1       │ 159.1   │ ohc         │
│ 30  │ mazda         │ hatchback   │ 93.1       │ 159.1   │ ohc         │
│ 31  │ mazda         │ hatchback   │ 95.3       │ 169.0   │ rotor       │
│ 32  │ mazda         │ sedan       │ 104.9      │ 175.0   │ ohc         │
│ 33  │ mercedes-benz │ sedan       │ 110.0      │ 190.9   │ ohc         │
│ 34  │ mercedes-benz │ wagon       │ 110.0      │ 190.9   │ ohc         │
│ 35  │ mercedes-benz │ sedan       │ 120.9      │ 208.1   │ ohcv        │
│ 36  │ mercedes-benz │ hardtop     │ 112.0      │ 199.2   │ ohcv        │
│ 37  │ mitsubishi    │ hatchback   │ 93.7       │ 157.3   │ ohc         │
│ 38  │ mitsubishi    │ hatchback   │ 93.7       │ 157.3   │ ohc         │
│ 39  │ mitsubishi    │ sedan       │ 96.3       │ 172.4   │ ohc         │
│ 40  │ mitsubishi    │ sedan       │ 96.3       │ 172.4   │ ohc         │
│ 41  │ nissan        │ sedan       │ 94.5       │ 165.3   │ ohc         │
│ 42  │ nissan        │ sedan       │ 94.5       │ 165.3   │ ohc         │
│ 43  │ nissan        │ sedan       │ 94.5       │ 165.3   │ ohc         │
│ 44  │ nissan        │ wagon       │ 94.5       │ 170.2   │ ohc         │
│ 45  │ nissan        │ sedan       │ 100.4      │ 184.6   │ ohcv        │
│ 46  │ porsche       │ hardtop     │ 89.5       │ 168.9   │ ohcf        │
│ 47  │ porsche       │ convertible │ 89.5       │ 168.9   │ ohcf        │
│ 48  │ porsche       │ hatchback   │ 98.4       │ 175.7   │ dohcv       │
│ 49  │ toyota        │ hatchback   │ 95.7       │ 158.7   │ ohc         │
│ 50  │ toyota        │ hatchback   │ 95.7       │ 158.7   │ ohc         │
│ 51  │ toyota        │ hatchback   │ 95.7       │ 158.7   │ ohc         │
│ 52  │ toyota        │ wagon       │ 95.7       │ 169.7   │ ohc         │
│ 53  │ toyota        │ wagon       │ 95.7       │ 169.7   │ ohc         │
│ 54  │ toyota        │ wagon       │ 95.7       │ 169.7   │ ohc         │
│ 55  │ toyota        │ wagon       │ 104.5      │ 187.8   │ dohc        │
│ 56  │ volkswagen    │ sedan       │ 97.3       │ 171.7   │ ohc         │
│ 57  │ volkswagen    │ sedan       │ 97.3       │ 171.7   │ ohc         │
│ 58  │ volkswagen    │ sedan       │ 97.3       │ 171.7   │ ohc         │
│ 59  │ volkswagen    │ sedan       │ 97.3       │ 171.7   │ ohc         │
│ 60  │ volvo         │ sedan       │ 104.3      │ 188.8   │ ohc         │
│ 61  │ volvo         │ wagon       │ 104.3      │ 188.8   │ ohc         │

│ Row │ num_of_cylinders │ horsepower │ average_mileage │ price   │
│     │ String           │ Int64      │ Int64           │ Int64⍰  │
├─────┼──────────────────┼────────────┼─────────────────┼─────────┤
│ 1   │ four             │ 111        │ 21              │ 13495   │
│ 2   │ four             │ 111        │ 21              │ 16500   │
│ 3   │ six              │ 154        │ 19              │ 16500   │
│ 4   │ four             │ 102        │ 24              │ 13950   │
│ 5   │ five             │ 115        │ 18              │ 17450   │
│ 6   │ five             │ 110        │ 19              │ 15250   │
│ 7   │ five             │ 110        │ 19              │ 18920   │
│ 8   │ four             │ 101        │ 23              │ 16430   │
│ 9   │ four             │ 101        │ 23              │ 16925   │
│ 10  │ six              │ 121        │ 21              │ 20970   │
│ 11  │ six              │ 182        │ 16              │ 30760   │
│ 12  │ six              │ 182        │ 16              │ 41315   │
│ 13  │ six              │ 182        │ 15              │ 36880   │
│ 14  │ three            │ 48         │ 47              │ 5151    │
│ 15  │ four             │ 70         │ 38              │ 6295    │
│ 16  │ four             │ 70         │ 38              │ 6575    │
│ 17  │ four             │ 68         │ 31              │ 6377    │
│ 18  │ four             │ 68         │ 31              │ 6229    │
│ 19  │ four             │ 76         │ 30              │ 7295    │
│ 20  │ four             │ 101        │ 24              │ 12945   │
│ 21  │ four             │ 100        │ 25              │ 10345   │
│ 22  │ four             │ 78         │ 24              │ 6785    │
│ 23  │ four             │ 70         │ 38              │ missing │
│ 24  │ four             │ 70         │ 38              │ missing │
│ 25  │ six              │ 176        │ 15              │ 32250   │
│ 26  │ six              │ 176        │ 15              │ 35550   │
│ 27  │ twelve           │ 262        │ 13              │ 36000   │
│ 28  │ four             │ 68         │ 30              │ 5195    │
│ 29  │ four             │ 68         │ 31              │ 6095    │
│ 30  │ four             │ 68         │ 31              │ 6795    │
│ 31  │ two              │ 101        │ 17              │ 11845   │
│ 32  │ four             │ 72         │ 31              │ 18344   │
│ 33  │ five             │ 123        │ 22              │ 25552   │
│ 34  │ five             │ 123        │ 22              │ 28248   │
│ 35  │ eight            │ 184        │ 14              │ 40960   │
│ 36  │ eight            │ 184        │ 14              │ 45400   │
│ 37  │ four             │ 68         │ 37              │ 5389    │
│ 38  │ four             │ 68         │ 31              │ 6189    │
│ 39  │ four             │ 88         │ 25              │ 6989    │
│ 40  │ four             │ 88         │ 25              │ 8189    │
│ 41  │ four             │ 55         │ 45              │ 7099    │
│ 42  │ four             │ 69         │ 31              │ 6649    │
│ 43  │ four             │ 69         │ 31              │ 6849    │
│ 44  │ four             │ 69         │ 31              │ 7349    │
│ 45  │ six              │ 152        │ 19              │ 13499   │
│ 46  │ six              │ 207        │ 17              │ 34028   │
│ 47  │ six              │ 207        │ 17              │ 37028   │
│ 48  │ eight            │ 288        │ 17              │ missing │
│ 49  │ four             │ 62         │ 35              │ 5348    │

│ 50  │ four             │ 62         │ 31              │ 6338    │
│ 51  │ four             │ 62         │ 31              │ 6488    │
│ 52  │ four             │ 62         │ 31              │ 6918    │
│ 53  │ four             │ 62         │ 27              │ 7898    │
│ 54  │ four             │ 62         │ 27              │ 8778    │
│ 55  │ six              │ 156        │ 19              │ 15750   │
│ 56  │ four             │ 52         │ 37              │ 7775    │
│ 57  │ four             │ 85         │ 27              │ 7975    │
│ 58  │ four             │ 52         │ 37              │ 7995    │
│ 59  │ four             │ 100        │ 26              │ 9995    │
│ 60  │ four             │ 114        │ 23              │ 12940   │
│ 61  │ four             │ 114        │ 23              │ 13415   │

In [204]:
# las funciones first y last reciben un segundo argumento de cuantas filas quiero ver
first(autos, 5)

5×9 DataFrame. Omitted printing of 4 columns
│ Row │ company     │ body_style  │ wheel_base │ length  │ engine_type │
│     │ String      │ String      │ Float64    │ Float64 │ String      │
├─────┼─────────────┼─────────────┼────────────┼─────────┼─────────────┤
│ 1   │ alfa-romero │ convertible │ 88.6       │ 168.8   │ dohc        │
│ 2   │ alfa-romero │ convertible │ 88.6       │ 168.8   │ dohc        │
│ 3   │ alfa-romero │ hatchback   │ 94.5       │ 171.2   │ ohcv        │
│ 4   │ audi        │ sedan       │ 99.8       │ 176.6   │ ohc         │
│ 5   │ audi        │ sedan       │ 99.4       │ 176.6   │ ohc         │

In [205]:
last(autos, 5)

5×9 DataFrame. Omitted printing of 4 columns
│ Row │ company    │ body_style │ wheel_base │ length  │ engine_type │
│     │ String     │ String     │ Float64    │ Float64 │ String      │
├─────┼────────────┼────────────┼────────────┼─────────┼─────────────┤
│ 1   │ volkswagen │ sedan      │ 97.3       │ 171.7   │ ohc         │
│ 2   │ volkswagen │ sedan      │ 97.3       │ 171.7   │ ohc         │
│ 3   │ volkswagen │ sedan      │ 97.3       │ 171.7   │ ohc         │
│ 4   │ volvo      │ sedan      │ 104.3      │ 188.8   │ ohc         │
│ 5   │ volvo      │ wagon      │ 104.3      │ 188.8   │ ohc         │

## Trabajando con data frames

In [208]:
# slicing
autos[1:3, :]

3×9 DataFrame. Omitted printing of 4 columns
│ Row │ company     │ body_style  │ wheel_base │ length  │ engine_type │
│     │ String      │ String      │ Float64    │ Float64 │ String      │
├─────┼─────────────┼─────────────┼────────────┼─────────┼─────────────┤
│ 1   │ alfa-romero │ convertible │ 88.6       │ 168.8   │ dohc        │
│ 2   │ alfa-romero │ convertible │ 88.6       │ 168.8   │ dohc        │
│ 3   │ alfa-romero │ hatchback   │ 94.5       │ 171.2   │ ohcv        │

In [214]:
typeof(1:10)

UnitRange{Int64}

In [213]:
typeof(1:10:100)

StepRange{Int64,Int64}

In [215]:
typeof([1, 6, 10])

Array{Int64,1}

In [85]:
autos[[1, 5, 10], :]

3×9 DataFrame. Omitted printing of 4 columns
│ Row │ company     │ body_style  │ wheel_base │ length  │ engine_type │
│     │ String      │ String      │ Float64    │ Float64 │ String      │
├─────┼─────────────┼─────────────┼────────────┼─────────┼─────────────┤
│ 1   │ alfa-romero │ convertible │ 88.6       │ 168.8   │ dohc        │
│ 2   │ audi        │ sedan       │ 99.4       │ 176.6   │ ohc         │
│ 3   │ bmw         │ sedan       │ 101.2      │ 176.8   │ ohc         │

In [216]:
# tambien puedo seleccionar solo algunas columnas
autos[[1, 5, 10], [:company, :horsepower]]

3×2 DataFrame
│ Row │ company     │ horsepower │
│     │ String      │ Int64      │
├─────┼─────────────┼────────────┤
│ 1   │ alfa-romero │ 111        │
│ 2   │ audi        │ 115        │
│ 3   │ bmw         │ 121        │

In [88]:
# devuelve un vector
autos[!, :company]

61-element CSV.Column{String,String}:
 "alfa-romero"
 "alfa-romero"
 "alfa-romero"
 "audi"
 "audi"
 "audi"
 "audi"
 "bmw"
 "bmw"
 "bmw"
 "bmw"
 "bmw"
 "bmw"
 ⋮
 "toyota"
 "toyota"
 "toyota"
 "toyota"
 "toyota"
 "toyota"
 "volkswagen"
 "volkswagen"
 "volkswagen"
 "volkswagen"
 "volvo"
 "volvo"

In [89]:
# devuelve un data frame
autos[!, [:company]]

61×1 DataFrame
│ Row │ company     │
│     │ String      │
├─────┼─────────────┤
│ 1   │ alfa-romero │
│ 2   │ alfa-romero │
│ 3   │ alfa-romero │
│ 4   │ audi        │
│ 5   │ audi        │
│ 6   │ audi        │
│ 7   │ audi        │
│ 8   │ bmw         │
│ 9   │ bmw         │
│ 10  │ bmw         │
⋮
│ 51  │ toyota      │
│ 52  │ toyota      │
│ 53  │ toyota      │
│ 54  │ toyota      │
│ 55  │ toyota      │
│ 56  │ volkswagen  │
│ 57  │ volkswagen  │
│ 58  │ volkswagen  │
│ 59  │ volkswagen  │
│ 60  │ volvo       │
│ 61  │ volvo       │

## Indexacion con expresiones regulares

In [90]:
df = DataFrame(x1=1, x2=2, y=3)

1×3 DataFrame
│ Row │ x1    │ x2    │ y     │
│     │ Int64 │ Int64 │ Int64 │
├─────┼───────┼───────┼───────┤
│ 1   │ 1     │ 2     │ 3     │

In [218]:
typeof(r"x")

Regex

Ver documentacion aqui: https://docs.julialang.org/en/v1/manual/strings/#Regular-Expressions-1

In [91]:
df[!, r"x"]

1×2 DataFrame
│ Row │ x1    │ x2    │
│     │ Int64 │ Int64 │
├─────┼───────┼───────┤
│ 1   │ 1     │ 2     │

# Indexacion logica

In [92]:
first(autos, 5)

5×9 DataFrame. Omitted printing of 4 columns
│ Row │ company     │ body_style  │ wheel_base │ length  │ engine_type │
│     │ String      │ String      │ Float64    │ Float64 │ String      │
├─────┼─────────────┼─────────────┼────────────┼─────────┼─────────────┤
│ 1   │ alfa-romero │ convertible │ 88.6       │ 168.8   │ dohc        │
│ 2   │ alfa-romero │ convertible │ 88.6       │ 168.8   │ dohc        │
│ 3   │ alfa-romero │ hatchback   │ 94.5       │ 171.2   │ ohcv        │
│ 4   │ audi        │ sedan       │ 99.8       │ 176.6   │ ohc         │
│ 5   │ audi        │ sedan       │ 99.4       │ 176.6   │ ohc         │

In [102]:
# notar que debo usar .> para la diferencia element-wise
autos[autos.horsepower .> 200, :]

4×9 DataFrame. Omitted printing of 4 columns
│ Row │ company │ body_style  │ wheel_base │ length  │ engine_type │
│     │ String  │ String      │ Float64    │ Float64 │ String      │
├─────┼─────────┼─────────────┼────────────┼─────────┼─────────────┤
│ 1   │ jaguar  │ sedan       │ 102.0      │ 191.7   │ ohcv        │
│ 2   │ porsche │ hardtop     │ 89.5       │ 168.9   │ ohcf        │
│ 3   │ porsche │ convertible │ 89.5       │ 168.9   │ ohcf        │
│ 4   │ porsche │ hatchback   │ 98.4       │ 175.7   │ dohcv       │

In [219]:
# notar que preciso .& y tambien preciso .==
autos[(autos.horsepower .> 200) .& (autos.company .== "porsche"), :]

3×9 DataFrame. Omitted printing of 4 columns
│ Row │ company │ body_style  │ wheel_base │ length  │ engine_type │
│     │ String  │ String      │ Float64    │ Float64 │ String      │
├─────┼─────────┼─────────────┼────────────┼─────────┼─────────────┤
│ 1   │ porsche │ hardtop     │ 89.5       │ 168.9   │ ohcf        │
│ 2   │ porsche │ convertible │ 89.5       │ 168.9   │ ohcf        │
│ 3   │ porsche │ hatchback   │ 98.4       │ 175.7   │ dohcv       │

## Resumenes

In [220]:
describe(autos)

9×8 DataFrame. Omitted printing of 2 columns
│ Row │ variable         │ mean    │ min         │ median  │ max   │ nunique │
│     │ Symbol           │ Union…  │ Any         │ Union…  │ Any   │ Union…  │
├─────┼──────────────────┼─────────┼─────────────┼─────────┼───────┼─────────┤
│ 1   │ company          │         │ alfa-romero │         │ volvo │ 16      │
│ 2   │ body_style       │         │ convertible │         │ wagon │ 5       │
│ 3   │ wheel_base       │ 98.482  │ 88.4        │ 96.3    │ 120.9 │         │
│ 4   │ length           │ 173.098 │ 141.1       │ 171.2   │ 208.1 │         │
│ 5   │ engine_type      │         │ dohc        │         │ rotor │ 7       │
│ 6   │ num_of_cylinders │         │ eight       │         │ two   │ 7       │
│ 7   │ horsepower       │ 107.852 │ 48          │ 100.0   │ 288   │         │
│ 8   │ average_mileage  │ 25.8033 │ 13          │ 25.0    │ 47    │         │
│ 9   │ price            │ 15387.0 │ 5151        │ 11095.0 │ 45400 │         │

In [224]:
v = Vector{Union{Missing, Int64}}(undef, 4)

4-element Array{Union{Missing, Int64},1}:
 missing
 missing
 missing
 missing

In [225]:
v[1] = 100
v[2] = missing
v[3] = 40
v[4] = missing
v

4-element Array{Union{Missing, Int64},1}:
 100
    missing
  40
    missing

In [226]:
autos.price

61-element CSV.Column{Union{Missing, Int64},Union{Missing, Int64}}:
 13495
 16500
 16500
 13950
 17450
 15250
 18920
 16430
 16925
 20970
 30760
 41315
 36880
     ⋮
  6338
  6488
  6918
  7898
  8778
 15750
  7775
  7975
  7995
  9995
 12940
 13415

# Usando el paquete Statistics

Statistics esta en Base:

- https://docs.julialang.org/en/v1/stdlib/Statistics/

In [227]:
using Statistics

In [228]:
mean(autos.horsepower)

107.85245901639344

In [237]:
typeof(autos.price)

CSV.Column{Union{Missing, Int64},Union{Missing, Int64}}

In [240]:
df

3×2 DataFrame
│ Row │ nombre    │ edad  │
│     │ String    │ Int64 │
├─────┼───────────┼───────┤
│ 1   │ Marcos    │ 30    │
│ 2   │ Silvana   │ 35    │
│ 3   │ Alejandro │ 34    │

In [239]:
typeof(df.nombre)

Array{String,1}

In [232]:
maximum(autos.horsepower)

288

# Combinacion de data frames con join

In [251]:
# el "pipe"
f(x) = x + 1
g(x) = x + 10
10 |> f |> g

21

# Uso de la funcion "by" (split-apply-combine)

In [262]:
# Buscar.. como se usa con pipe?
# autos |> by(:, :company, :price=>mean) |> sort(:, 2)

sort(by(autos, :company, :price => mean), 2)

16×2 DataFrame
│ Row │ company       │ price_mean │
│     │ String        │ Float64⍰   │
├─────┼───────────────┼────────────┤
│ 1   │ chevrolet     │ 6007.0     │
│ 2   │ dodge         │ 6303.0     │
│ 3   │ mitsubishi    │ 6689.0     │
│ 4   │ toyota        │ 8216.86    │
│ 5   │ nissan        │ 8289.0     │
│ 6   │ volkswagen    │ 8435.0     │
│ 7   │ mazda         │ 9654.8     │
│ 8   │ honda         │ 10195.0    │
│ 9   │ volvo         │ 13177.5    │
│ 10  │ alfa-romero   │ 15498.3    │
│ 11  │ audi          │ 16392.5    │
│ 12  │ bmw           │ 27213.3    │
│ 13  │ jaguar        │ 34600.0    │
│ 14  │ mercedes-benz │ 35040.0    │
│ 15  │ isuzu         │ missing    │
│ 16  │ porsche       │ missing    │

In [273]:
maximum(skipmissing(autos.price))

45400

In [278]:
# esto me devuelve el missing en "porsche"
z = by(autos, :company, :price => x -> maximum)

16×2 DataFrame
│ Row │ company       │ price_function │
│     │ String        │ typeof…        │
├─────┼───────────────┼────────────────┤
│ 1   │ alfa-romero   │ maximum        │
│ 2   │ audi          │ maximum        │
│ 3   │ bmw           │ maximum        │
│ 4   │ chevrolet     │ maximum        │
│ 5   │ dodge         │ maximum        │
│ 6   │ honda         │ maximum        │
│ 7   │ isuzu         │ maximum        │
│ 8   │ jaguar        │ maximum        │
│ 9   │ mazda         │ maximum        │
│ 10  │ mercedes-benz │ maximum        │
│ 11  │ mitsubishi    │ maximum        │
│ 12  │ nissan        │ maximum        │
│ 13  │ porsche       │ maximum        │
│ 14  │ toyota        │ maximum        │
│ 15  │ volkswagen    │ maximum        │
│ 16  │ volvo         │ maximum        │

In [279]:
# ignoro el missing
by(autos, :company, :price => x -> maximum(skipmissing(x)))

16×2 DataFrame
│ Row │ company       │ price_function │
│     │ String        │ Int64          │
├─────┼───────────────┼────────────────┤
│ 1   │ alfa-romero   │ 16500          │
│ 2   │ audi          │ 18920          │
│ 3   │ bmw           │ 41315          │
│ 4   │ chevrolet     │ 6575           │
│ 5   │ dodge         │ 6377           │
│ 6   │ honda         │ 12945          │
│ 7   │ isuzu         │ 6785           │
│ 8   │ jaguar        │ 36000          │
│ 9   │ mazda         │ 18344          │
│ 10  │ mercedes-benz │ 45400          │
│ 11  │ mitsubishi    │ 8189           │
│ 12  │ nissan        │ 13499          │
│ 13  │ porsche       │ 37028          │
│ 14  │ toyota        │ 15750          │
│ 15  │ volkswagen    │ 9995           │
│ 16  │ volvo         │ 13415          │

# Series temporales con TimeSeries.jl

### Referencias

- https://github.com/JuliaStats/TimeSeries.jl